* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* color pallete ideas: */
colgroup { 
color: #5603AD, #8367C7, #B3E9C7, #C2F8CB, #F0FFF1


#388659, #52AA5E, #52AA8A, #3AAED8, #2BD9FE


#069E2D, #058E3F, #04773B, #036016, #03440c


#D88C9A, #F2D0A9, #F1E3D3, #99C1B9, #8E7DBE


#FF6B35, #F7C59F, #EFEFD0, #004E89, #1A659E


#DAFFED, #9BF3F0, #473198, #4A0D67, #ADFC92
}


body {
    background-color: #d9dcd6;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #8d9ca4;
    color: #ffffff;
}

header h1 {
    justify-content: flex-start;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: inline-flex;
}

header nav ul li {
    margin-left: 25px;
}

.recipe-search {
    height: 200px;
}

.recipe-search h3 {
  padding: 10px;
}

h2 {
    margin-left: 25px;
    font-family: sans-serif;
}

.search-container {
    margin-left: 25px;

}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 2.2rem;
    border: 2px solid var(--grey);
    border-radius: 12px;
  }

  input[type='text'] {
    width: 300px;
  }

.fiveDays {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 75%;
  }
  
  .meals-list-wrapper {
    flex: 1;
    margin: 0 20px 20px;
  }
  
  .list-title {
    color: black;
    font-size: 2.6rem;
  }
  
  .meals-list {
    list-style: none;
    padding: 15px;
    height: calc(100% - 50px);
    background: rgb(196, 196, 196);
    border-radius: 12px;
    border: 2px solid black;
  }

  .card {
    padding: 20px;
    ;
  }
  
  @media screen and (max-width: 980px) {
    form {
      flex: 1 100%;
    }
  
    form button {
      width: 10%;
    }
  
    .task-list-wrapper {
      flex-basis: 100%;
    }
  
  }

  /* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  html {
    font-family: "Nunito";
    font-size: 12px;
  }
  
  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: rgb(102, 102, 110);
  }
  .container {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .brand {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
  }
  form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
  }
  input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: rgb(223, 223, 223);
    display: inline-block;
  }
  form ion-icon {
    width: 8%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgba(111, 15, 15, 0.309);
    display: inline-block;
  }
  .search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
  .item {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-result .title {
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
  }
  .item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
  }
  .container.initial .brand {
    font-size: 7rem;
  }
  .container.initial form {
    max-width: 800px;
  }
  .container.initial form input {
    padding: 20px;
    font-size: 3rem;
  } */